/*Elements*/

body {
    color:black;
    background-image: url('images/blackPeak.jpg');
    background-attachment: fixed;
    
}

div{
    padding:15px;
}

figure{
    float:left;
    
}

figure img{
    border-radius: 15px;
    width: 100;
    
}

figcaption{
    text-align: center;
}

h2{
    text-align:center;
}

table{
    text-align: left;
    font-weight: 400;
}


/*Classes*/
.mainBody{
    clear:left;
    background-image: url('images/whiteMesh.jpg');
    background-attachment: fixed;
    
}

.navbar {
    clear:left;
    padding:0%;
    background-color:rgb(201, 213, 223);
    overflow: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;  
}

.navbar a {
    float:left;
    color:rgb(12, 25, 204);
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover{
    background-color: rgb(39, 196, 183);
}


/*ID's*/
#aboutMe{  
    padding: 25px;
    margin:15px;
    animation-duration: 2s;
    animation-name: slideinleft;
}

#aboutMeP{
    float:left;
    width:500px;
    font-weight: 600;   
    padding: 15px; 
    margin:10px;
}

#aboutMeSVG img{
    width:400px;
    margin-left:205px;

}

#contact{
    clear:left;
    background-image: url('images/blueGreenGradientShort.jpg');
    color:white;
    border-radius: 15px;
    margin:15px;
    animation-duration: 2s;
    animation-name: slideinleft;
}

#home{
    background-image: url('images/blueGreenGradientShort.jpg');
    color:white;
    border-radius: 15px;
    margin:15px;
    animation-duration: 2s;
    animation-name: slideinleft;
}

#mainHeading {
    float:left;
    padding-left: 15px;
}

#me{
    float: left;  
}

#projects{
    background-image: url('images/blueGreenGradientShort.jpg');  
    border-radius: 15px;
    margin:15px;
    padding:10px;
    animation-duration: 2s;
    animation-name: slideinleft;
}

#projects h1{
    color:white;
}

#titlebar{
    padding:15px;
    color:rgb(51, 18, 18);
}


/*Animation instructions*/
@keyframes slideinleft {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


/*For small screens*/

@media only screen and (max-width: 700px){
    .mainBody{
        background-attachment: fixed;
    }
 
    #aboutMeP{
        width:auto;
    }

    #aboutMeSVG img{
        float:right;
        margin-left: auto;
        width:300px;
        height:auto;       
    }

    #projects{
        clear:both;
        border-radius: 25px;
        margin:15px;
        padding:10px;
    }
}