/*Elements*/

body {
    color:white;
    background-image: url('images/blackPeak.jpg');
    
}

div{
    padding:15px;
}

figure{
    float:left;
}

h2{
    text-align:center;
}

figcaption{
    text-align: center;
}

/*Classes*/

.navbar {
    clear:left;
    margin-top: 5px;
    background-color:rgb(58, 11, 11);
    overflow: hidden;
    
}

.navbar a {
    float:left;
    color:floralwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.mainBody{
    clear:left;
}

/*
.portfolioPics {
    text-align:center;
    
}*/




/*ID's*/

#titlebar{
    padding:15px;
}


#contact{
    clear:left;
}

#mainHeading {
    float:left;
    padding-left: 15px;
}